<ion-view title="{{ 'REMOTE.tabTitle' | translate }}" class="remote-control">
  
  <ion-content>
      
    <div class="row">

      <div class="col col-25">
        <button class="button button-small button-block button-assertive" ng-click="showTabs();" device-feedback><i class="icon ion-more"></i></button>
      </div>

      <div class="col col-25">
        <button class="button button-small button-block button-balanced" ng-click="showFavorites();" device-feedback><i class="icon ion-ios-heart"></i></button>
      </div>

      <div class="col col-25">
        <button class="button button-small button-block button-calm" ng-click="showWatchlist();" device-feedback><i class="icon ion-ios-filing"></i></button>
      </div>

      <div class="col col-25">
        <button class="button button-small button-block button-energized" ng-click="showSettings();" device-feedback><i class="icon ion-android-settings"></i></button>
      </div>

    </div>
    <!-- /.row -->

    <div class="row">

      <div class="col col-33">
        <button class="button button-block button-light" ng-click="showFilterOptions();" device-feedback><i class="icon ion-funnel"></i></button>
      </div>

      <div class="col col-33">
        <button class="button button-block button-dark" ng-click="up();" device-feedback><i class="icon ion-arrow-up-b"></i></button>
      </div>

      <div class="col col-33">
        <button class="button button-block button-light" ng-click="showSortOptions();" device-feedback><i class="icon ion-android-list"></i></button>
      </div>

    </div>
    <!-- /.row -->

    <div class="row">

      <div class="col col-33">
        <button class="button button-block button-dark" ng-click="left();" device-feedback><i class="icon ion-arrow-left-b"></i></button>
      </div>

      <div class="col col-33">
        <button class="button button-block button-dark" ng-click="enter();" device-feedback><i class="icon ion-ios-circle-filled"></i></button>
      </div>

      <div class="col col-33">
        <button class="button button-block button-dark" ng-click="right();" device-feedback><i class="icon ion-arrow-right-b"></i></button>
      </div>

    </div>
    <!-- /.row -->

    <div class="row">

      <div class="col col-33">
        <button class="button button-block button-light" ng-click="back();" device-feedback><i class="icon ion-arrow-return-left"></i></button>
      </div>

      <div class="col col-33">
        <button class="button button-block button-dark" ng-click="down();" device-feedback><i class="icon ion-arrow-down-b"></i></button>
      </div>

      <div class="col col-33">
        <button class="button button-block button-light" ng-click="toggleMute();" device-feedback><i class="icon ion-android-microphone-off"></i></button>
      </div>

    </div>
    <!-- /.row -->

    <div class="row">

      <div class="col col-50">
        <button class="button button-small button-block button-royal" ng-click="seasonUp();" device-feedback>{{ 'REMOTE.buttons.seasonButton' | translate }} &nbsp;<i class="icon ion-arrow-up-b"></i></button>
      </div>

      <div class="col col-50">
        <button class="button button-small button-block button-royal" ng-click="seasonDown();" device-feedback>{{ 'REMOTE.buttons.seasonButton' | translate }} &nbsp;<i class="icon ion-arrow-down-b"></i></button>
      </div>

    </div>
    <!-- /.row -->

    <div class="row">

      <div class="col col-50">
        <button class="button button-block button-calm" ng-click="volumeUp();" device-feedback>{{ 'REMOTE.buttons.volumeButton' | translate }} &nbsp;<i class="icon ion-chevron-up"></i></button>
      </div>

      <div class="col col-50">
        <button class="button button-block button-calm" ng-click="volumeDown();" device-feedback>{{ 'REMOTE.buttons.volumeButton' | translate }} &nbsp;<i class="icon ion-chevron-down"></i></button>
      </div>

    </div>
    <!-- /.row -->

    <div class="row">

      <div class="col col-50">
        <button class="button button-block button-small button-stable" ng-click="subtitleOffsetMore();" device-feedback>{{ 'REMOTE.buttons.subtitleOffsetButton' | translate }}&nbsp;<i class="icon ion-android-add-circle"></i></button>
      </div>

      <div class="col col-50">
        <button class="button button-block button-small button-stable" ng-click="subtitleOffsetLess();" device-feedback>{{ 'REMOTE.buttons.subtitleOffsetButton' | translate }}&nbsp;<i class="icon ion-android-remove-circle"></i></button>
      </div>

    </div>
    <!-- /.row -->

    <div class="row">

      <div class="col col-25">
        <button class="button button-small button-block button-dark" ng-click="play();" device-feedback><i class="icon ion-play"></i></button>
      </div>

      <div class="col col-25">
        <button class="button button-small button-block button-dark" ng-click="pause();" device-feedback><i class="icon ion-pause"></i></button>
      </div>

      <div class="col col-25">
        <button class="button button-small button-block button-dark" ng-click="backward();" device-feedback><i class="icon ion-skip-backward"></i></button>
      </div>

      <div class="col col-25">
        <button class="button button-small button-block button-dark" ng-click="forward();" device-feedback><i class="icon ion-skip-forward"></i></button>
      </div>

    </div>
    <!-- /.row -->

    <div class="row">

      <div class="col col-25">
        <button class="button button-small button-block button-dark" ng-click="toggleWatched();" device-feedback><i class="icon ion-eye"></i></button>
      </div>

      <div class="col col-25">
        <button class="button button-small button-block button-dark" ng-click="toggleFavorite();" device-feedback><i class="icon ion-heart"></i></button>
      </div>

      <div class="col col-25">
        <button class="button button-small button-block button-dark" ng-click="showSubtitleList();" device-feedback><i class="icon ion-closed-captioning"></i></button>
      </div>

      <div class="col col-25">
        <button class="button button-small button-block button-dark" ng-click="toggleQuality();" device-feedback><i class="icon ion-toggle-filled"></i></button>
      </div>

    </div>
    <!-- /.row -->

    <div class="row">
      
      <div class="col col-25">
        <button class="button button-small button-block button-dark" ng-click="watchTrailer();" device-feedback><i class="icon ion-film-marker"></i></button>
      </div>

      <div class="col col-25">
        <button class="button button-small button-block button-dark" ng-click="showPlayerList();" device-feedback><i class="icon ion-android-film"></i></button>
      </div>

      <div class="col col-25">
        <button class="button button-small button-block button-dark" ng-click="toggleFullscreen();" device-feedback><i class="icon ion-arrow-expand"></i></button>
      </div>

      <div class="col col-25">
        <button class="button button-small button-block button-assertive" ng-click="showSearchForm();" device-feedback><i class="icon ion-search"></i></button>
      </div>

    </div>
    <!-- /.row -->

  </ion-content>
  
</ion-view>
