<ion-view title="Edit Device">
  
  <ion-content class="padding">

    <div class="alert" ng-class="connected ? 'alert-success' : 'alert-warning'" ng-show="test">
      <p><strong>You are <small ng-show="!connected">NOT</small> connected to Popcorn Time.</strong></p>
      <p ng-show="connected"><small>API Version: {{connected.result.popcornVersion}}</small></p>
    </div>
    <!-- /.alert -->

    <div class="alert alert-error" ng-show="error">
      <p><small><strong>API Error:</strong> {{error.message}}</small></p>
    </div>
    <!-- /.alert -->

    <div class="alert alert-info" ng-show="saved">
      <p><strong>Changes saved!</strong></p>
    </div>
    <!-- /.alert -->
    
    <form name="deviceForm" ng-submit="deviceForm.$valid && editDevice(device)" novalidate>
      
      <div class="list">

        <label class="item item-input item-stacked-label">
          <span class="input-label">Name 
            <small class="assertive" ng-show="formSubmitted && deviceForm.name.$error.required">This is required.</small>
          </span>

          <input type="text" placeholder="Device Name" name="name" ng-model="device.name" required>
        </label>
        <!-- /.item -->

        <label class="item item-input item-stacked-label">
          <span class="input-label">IP 
            <small class="assertive" ng-show="formSubmitted && deviceForm.ip.$error.required">This is required.</small>
            <small class="assertive" ng-show="formSubmitted && deviceForm.ip.$error.pattern">Incorrect Format.</small>
          </span>

          <input type="text" placeholder="0.0.0.0" name="ip" ng-model="device.ip" ng-pattern='/\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/' required>
        </label>
        <!-- /.item -->

        <label class="item item-input item-stacked-label">
          <span class="input-label">Port
            <small class="assertive" ng-show="formSubmitted && deviceForm.port.$error.required">This is required.</small>
            <small class="assertive" ng-show="formSubmitted && deviceForm.port.$error.pattern">Incorrect Format.</small>
          </span>

          <input type="text" placeholder="8008" name="port" ng-model="device.port" ng-pattern="/^[0-9]{1,7}$/" required>
        </label>
        <!-- /.item -->

        <label class="item item-input item-stacked-label">
          <span class="input-label">Username
            <small class="assertive" ng-show="formSubmitted && deviceForm.user.$error.required">This is required.</small>
          </span>

          <input type="text" placeholder="popcorn" name="user" ng-model="device.user" required>
        </label>
        <!-- /.item -->

        <label class="item item-input item-stacked-label">
          <span class="input-label">Password
            <small class="assertive" ng-show="formSubmitted && deviceForm.pass.$error.required">This is required.</small>
          </span>

          <input type="text" placeholder="popcorn" name="pass" ng-model="device.pass" required>
        </label>
        <!-- /.item -->

      </div>
      <!-- /.list -->

      <div class="button-bar">
        <button type="submit" class="button button button-balanced" ng-click="submitAttempt();"><i class="icon ion-edit"></i></button>
        <a class="button button button-energized" ng-click="testDevice(device);"><i class="icon ion-paper-airplane"></i></a>
        <a class="button button button-royal" ng-click="setActive();"><i class="icon ion-checkmark-circled"></i></a>
        <a class="button button button-assertive" ng-click="remove();"><i class="icon ion-close-circled"></i></a>
      </div>

    </form>
    <!-- /deviceForm -->

  </ion-content>

</ion-view>
