<ion-view title="{{ 'CONFIG.tabTitle' | translate }}">
  
  <ion-content class="padding">

    <div class="alert alert-info" ng-show="languageSaved">
      <p><strong>{{ 'CONFIG.alerts.languageChange' | translate }}</strong></p>
    </div>
    <!-- /.alert -->

    <form name="languageForm" ng-submit="setLanguage(language)" class="language-form">
      
      <div class="list">

        <div class="item item-divider">{{ 'CONFIG.languageForm.title' | translate }}</div>

        <label class="item item-input item-select">
          <div class="input-label">
            {{ 'CONFIG.languageForm.select' | translate }}
          </div>
          <select name="language" ng-model="language" ng-options="language.name for language in languages track by language.key"></select>
        </label>
        <!-- /.item -->

      </div>
      <!-- /.list -->

      <div class="button-bar">
        <button type="submit" class="button button-small button-assertive">{{ 'CONFIG.languageForm.languageChangeButton' | translate }}</button>
      </div>

    </form>
    <!-- /languageForm -->

    <div class="alert" ng-class="connected ? 'alert-success' : 'alert-warning'" ng-show="test">
      <p ng-show="!connected"><strong>{{ 'CONFIG.alerts.APItestFail' | translate }}</strong></p>
      <p ng-show="connected"><strong>{{ 'CONFIG.alerts.APItestSuccess' | translate }}</strong></p>
      <p ng-show="connected"><small>{{ 'CONFIG.alerts.APIversion' | translate }}: {{connected.result.popcornVersion}}</small></p>
    </div>
    <!-- /.alert -->

    <div class="alert alert-error" ng-show="error">
      <p><small><strong>{{ 'CONFIG.alerts.APIerror' | translate }}:</strong> {{error.message}}</small></p>
    </div>
    <!-- /.alert -->

    <div class="alert alert-info" ng-show="saved">
      <p><strong>{{ 'CONFIG.alerts.changesSaved' | translate }}</strong></p>
    </div>
    <!-- /.alert -->
    
    <form name="deviceForm" ng-submit="deviceForm.$valid && saveDevice(device)" novalidate>
      
      <div class="list">

        <div class="item item-divider">{{ 'CONFIG.deviceForm.title' | translate }}</div>

        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'CONFIG.deviceForm.name' | translate }} 
            <small class="assertive" ng-show="deviceFormSubmitted && deviceForm.name.$error.required">{{ 'CONFIG.editFormValidation.required' | translate }}</small>
          </span>

          <input type="text" placeholder="{{ 'CONFIG.deviceForm.namePlaceholder' | translate }}" name="name" ng-model="device.name" required>
        </label>
        <!-- /.item -->

        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'CONFIG.deviceForm.ip' | translate }} 
            <small class="assertive" ng-show="deviceFormSubmitted && deviceForm.ip.$error.required">{{ 'CONFIG.editFormValidation.required' | translate }}</small>
            <small class="assertive" ng-show="deviceFormSubmitted && deviceForm.ip.$error.pattern">{{ 'CONFIG.editFormValidation.format' | translate }}</small>
          </span>

          <input type="text" placeholder="0.0.0.0" name="ip" ng-model="device.ip" ng-pattern='/\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/' required>
        </label>
        <!-- /.item -->

        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'CONFIG.deviceForm.port' | translate }}
            <small class="assertive" ng-show="deviceFormSubmitted && deviceForm.port.$error.required">{{ 'CONFIG.editFormValidation.required' | translate }}</small>
            <small class="assertive" ng-show="deviceFormSubmitted && deviceForm.port.$error.pattern">{{ 'CONFIG.editFormValidation.format' | translate }}</small>
          </span>

          <input type="text" placeholder="8008" name="port" ng-model="device.port" ng-pattern="/^[0-9]{1,7}$/" required>
        </label>
        <!-- /.item -->

        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'CONFIG.deviceForm.username' | translate }}
            <small class="assertive" ng-show="deviceFormSubmitted && deviceForm.user.$error.required">{{ 'CONFIG.editFormValidation.required' | translate }}</small>
          </span>

          <input type="text" placeholder="popcorn" name="user" ng-model="device.user" required>
        </label>
        <!-- /.item -->

        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'CONFIG.deviceForm.password' | translate }}
            <small class="assertive" ng-show="deviceFormSubmitted && deviceForm.pass.$error.required">{{ 'CONFIG.editFormValidation.required' | translate }}</small>
          </span>

          <input type="text" placeholder="popcorn" name="pass" ng-model="device.pass" required>
        </label>
        <!-- /.item -->

      </div>
      <!-- /.list -->

      <div class="button-bar">
        <button type="submit" class="button button-small button-assertive" ng-click="deviceSubmitAttempt();">{{ 'CONFIG.deviceFormButtons.addButton' | translate }}</button>
        <a class="button button-small button-energized" ng-click="testDevice(device);">{{ 'CONFIG.deviceFormButtons.testButton' | translate }}</a>
        <a class="button button-small button-royal" ng-click="readQR();">{{ 'CONFIG.deviceFormButtons.qrButton' | translate }}</a>
      </div>

    </form>
    <!-- /deviceForm -->

  </ion-content>

</ion-view>
