<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs ion-tabs-swipe class="tabs-striped tabs-background-dark tabs-assertive slide-{{tabAnimation}}" delegate-handle="main-tabs">

  <!-- Remote Tab -->
  <ion-tab title="Remote" icon="icon ion-ios-keypad" href="#/tab/remote">
    <ion-nav-view name="tab-remote"></ion-nav-view>
  </ion-tab>

  <!-- Devices Tab -->
  <ion-tab title="Devices" icon="icon ion-ios-monitor" href="#/tab/devices">
    <ion-nav-view name="tab-devices"></ion-nav-view>
  </ion-tab>

  <!-- Config Tab -->
  <ion-tab title="Config" icon="icon ion-gear-b" href="#/tab/config">
    <ion-nav-view name="tab-config"></ion-nav-view>
  </ion-tab>

</ion-tabs>
